<div class="grid grid-4col">
  {{#each words as |item id|}}
    <div class="item card" data-item-id="{{item._id}}">
      <h2 class="flexrow" title="{{item.name}}">
        <div class="name">{{item.name}}</div> {{ifThen item.system.common "" "*"}}
      </h2>
    </div>
  {{/each}}
</div>
