<div class="flexcol">
  <div class="grid grid-3col flex-group-center">
    <div class="flex flexrow flex-group-center">
      <span class="resource-label">
        {{localize "OG.Global.LimitXY" x=actor.countKnownAbilities y=system.knownAbilities}}
      </span>

      <div class="flexshrink">
        <button type="button" class="little square item-create" title="{{localize "OG.Global.Add"}}"
                data-type="ability">
          <i class="far fa-plus"></i>
        </button>
      </div>
    </div>

    <p class="grid-span-2">{{localize "OG.CharacterClass.Abilities.StarMarkExplanations"}}</p>
  </div>

  {{> "systems/og/templates/actor/parts/actor-abilities.html.hbs"}}
</div>
