{{localize 'OG.CharacterClass.Notifications.HasUnggghhPoints' name=name total=total}}
{{#if bonusUsed}}
  <p>{{localize "OG.CharacterClass.ToughBonusUsed" total=total rollTotal=rollTotal}}</p>
{{/if}}
